<div
  class="block p-4 md:p-5 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex justify-between">
    <div class="flex items-center" (click)="toggleTaskStatus('title','1')">
      <input type="checkbox" id="task-1-title" name="title"
        class="me-2 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="task-1-title" id="task-1-label" class="font-semibold text-md">{{task.name}}</label>
    </div>
    <div class="flex justify-end">
      <button id="dropdownMenuIconHorizontalButton" data-dropdown-toggle="dropdownDotsHorizontal"
        class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        type="button">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewBox="0 0 16 3">
          <path
            d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div id="dropdownDotsHorizontal"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconHorizontalButton">
          <li>
            <a href="#"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
          </li>
        </ul>
        <div class="py-2">
          <a href="#"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Separated
            link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-gray-600 text-sm mb-3">
    {{task.description}}
  </div>

  <div class="flex justify-between mb-1">
    <div>
      Progress
    </div>
    <div>
      45%
    </div>
  </div>
  <div class="mb-3">
    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
      <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
    </div>
  </div>
  <div class="flex justify-between mb-1">
    <div>

      @switch (task.status.name) {
      @case ('Pending') {
      <div
        class="flex rounded-full p-2 bg-yellow-100 text-center text-sm text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">
        <svg class="w-6 h-6 text-yellow-800 dark:text-yellow-300" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Pending
      </div>
      }
      @case ('On Process') {
      <div
        class="flex rounded-full p-2 bg-blue-100 text-center text-sm text-blue-800 dark:bg-blue-900 dark:text-blue-300">
        <svg class="w-6 h-6 text-blue-800 dark:text-blue-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        On Process
      </div>
      }
      @case ('On Review') {
      <div
        class="flex rounded-full p-2 bg-green-100 text-center text-sm text-green-800 dark:bg-green-900 dark:text-green-300">
        <svg class="w-6 h-6 text-green-800 dark:text-green-300" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        On Review
      </div>
      }
      @case ('Aproved') {
      <div
        class="flex rounded-full p-2 bg-green-100 text-center text-sm text-green-800 dark:bg-green-900 dark:text-green-300">
        <svg class="w-6 h-6 text-green-800 dark:text-green-300" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Aproved
      </div>
      }
      @case ('Blocked') {
      <div class="flex rounded-full p-2 bg-red-100 text-center text-sm text-red-800 dark:bg-red-900 dark:text-red-300">
        <svg class="w-6 h-6 text-red-800 dark:text-red-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Blocked
      </div>
      }
      @case ('Completed') {
      <div
        class="flex rounded-full p-2 bg-green-100 text-center text-sm text-green-800 dark:bg-green-900 dark:text-green-300">
        <svg class="w-6 h-6 text-green-800 dark:text-green-300" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Completed
      </div>
      }
      @case ('Cancelled') {
      <div class="flex rounded-full p-2 bg-red-100 text-center text-sm text-red-800 dark:bg-red-900 dark:text-red-300">
        <svg class="w-6 h-6 text-red-800 dark:text-red-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Cancelled
      </div>
      }
      @case ('Waiting Response') {
      <div
        class="flex rounded-full p-2 bg-yellow-100 text-center text-sm text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">
        <svg class="w-6 h-6 text-yellow-800 dark:text-yellow-300" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Waiting Response
      </div>
      }
      @case ('On Testing') {
      <div
        class="flex rounded-full p-2 bg-blue-100 text-center text-sm text-blue-800 dark:bg-blue-900 dark:text-blue-300">
        <svg class="w-6 h-6 text-blue-800 dark:text-blue-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        On Testing
      </div>
      }
      @case ('Archived') {
      <div
        class="flex rounded-full p-2 bg-gray-100 text-center text-sm text-gray-800 dark:bg-gray-900 dark:text-gray-300">
        <svg class="w-6 h-6 text-gray-800 dark:text-gray-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        Archived
      </div>
      }
      }
    </div>
    <div class="flex items-center justify-end">
      <div class="me-2 text-gray-600">{{task.created_at | date}}</div>
      <div>
        <img class="w-10 h-10 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          alt="Rounded avatar">
      </div>
    </div>
  </div>

</div>
