<div class="bg-gray-100 my-3 p-2 rounded-md ">
  <div class="p-2">
    <form>
      <div class="grid grid-cols-6">
        <div class="col-span-6">
          <textarea id="content"
            class="block mb-3 p-2.5 w-1/1 text-sm text-gray-900 bg-gray-25 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Write a comment..."></textarea>
        </div>
        <div class="col-span-6 items-center flex justify-between">
          <div class="flex mb-2">
            <div class="me-2">
              <img class="w-10 h-10 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                alt="Rounded avatar">
            </div>
            <div>
              <p class="text-sm font-semibold">Jhon Doe</p>
              <p class="text-xs text-gray-400">Position</p>
            </div>
          </div>
          <button type="submit"
            class="text-white mb-1 inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="rotate-45 w-4 h-4 text-white-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5"/>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
