<div class="min-h-[89dvh] flex justify-center items-center">
    <div>
        <form class="max-w-lg min-w-xs md:min-w-md lg:w-lg dark:bg-gray-800 bg-white p-8 rounded-lg shadow-md border-none"
            [formGroup]="resetPasswordForm" (submit)="resetPassword()">
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input formControlName="email" type="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="jhondoe@domain.com" required />
                @if (resetPasswordForm.get('email')?.invalid && (resetPasswordForm.get('email')?.dirty ||
                resetPasswordForm.get('email')?.touched)) {
                <div class="text-red">
                    @if (resetPasswordForm.controls.email.hasError('required')) {
                    <div>
                        Email is required.
                    </div>
                    }
                    @if (resetPasswordForm.controls.email.hasError('email')) {
                    <div>
                        Must be a valid email address.
                    </div>
                    }
                </div>
                }
            </div>
            <div class="mb-5">
                <label for="password"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input formControlName="password" type="password" id="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="jhondoe@domain.com" required />
                @if (resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty ||
                resetPasswordForm.get('password')?.touched)) {
                <div class="text-red">
                    @if (resetPasswordForm.controls.password.hasError('required')) {
                    <div>
                        Password is required.
                    </div>
                    }
                    @if (resetPasswordForm.controls.password.hasError('pattern')) {
                    <div>
                        <p>The password must be at least 8 characters long and meet the following requirements:</p>
                        <ul>
                            <li>Contain at least one uppercase letter (A-Z)</li>
                            <li>Contain at least one lowercase letter (a-z)</li>
                            <li>Contain at least one number (0-9)</li>
                            <li>Contain at least one special character (#&#64;$!%*?&)</li>
                        </ul>
                        <p>Please ensure that these criteria are met before proceeding.</p>
                    </div>
                    }
                </div>
                }
            </div>
            <div class="mb-5">
                <label for="password_confirmation"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password confirmation</label>
                <input formControlName="password_confirmation" type="password_confirmation" id="password_confirmation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="jhondoe@domain.com" required />
                @if (resetPasswordForm.get('password_confirmation')?.invalid &&
                (resetPasswordForm.get('password_confirmation')?.dirty ||
                resetPasswordForm.get('password_confirmation')?.touched)) {
                <div class="text-red">
                    @if (resetPasswordForm.controls.password_confirmation.hasError('required')) {
                    <div>
                        Password Confirmation is required.
                    </div>
                    }

                </div>
                }
            </div>
            @if (resetPasswordForm.hasError('passwordsMismatch')) {
            <div class="text-red">
                The passwords entered do not match. Please check and try again.
            </div>
            }
            <div class="text-end mb-5">
                <button type="submit"
                    class="mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset password</button>
            </div>
        </form>
    </div>
</div>