<div class="bg-gray-100 dark:bg-gray-800 shadow-md rounded-md p-2 max-h-[75dvh] overflow-y-auto border border-gray-200 dark:border-gray-700 relative">
  @if (chat && user) {
    @switch (chat.type) {
      @case ('individual') {
        @for (employee of chat.employees; track employee.id) {
          @if (employee.id != user.employee.id) {
            <div class="flex border-b border-gray-200 dark:border-gray-700 pb-4 mb-4">
              <div class="flex w-1/1 items-center p-2 space-x-2 bg-gray-100 dark:bg-gray-800 rounded-md  hover:bg-gray-100 cursor-pointer">
                <img class="w-10 h-10 rounded-full" [src]="apiFilesUrl+employee.profile_photo"
                alt="Rounded avatar">
                <div>
                  <h5 class="text-sm font-semibold text-gray-900 dark:text-white">{{employee.user.name + " " + employee.user.last_name}}</h5>
                  <p class="text-sm text-gray-500 dark:text-gray-400">Online</p>
                </div>
              </div>
            </div>
          }
        }
      }
      @case ('group') {

      }
    }

  <div class="overflow-y-scroll h-[54dvh]">
    <app-messages [chatId]="chat.id" [employeeId$]="user.employee.id"></app-messages>
  </div>
  <app-message-create [chatId]="chat.id" [employeeId]="user.employee.id"></app-message-create>
  }
</div>
