<div>
  <div class="grid grid-cols-4">
    <div class="col-span-2">
      <h2 class="font-semibold text-2xl">Project Team</h2>
    </div>
    <div class="col-span-2 flex justify-end">
      <app-employee-add [employees]="employees()"></app-employee-add>
    </div>
    <div class="col-span-4 mt-3">
      <form action="" class="grid grid-cols-4 space-x-2">
        <div class="col-span-4 flex items-center justify-between">
          <input type="text" id="search" class="border border-gray-300 rounded-md p-2 w-full" placeholder="Search tasks...">
        </div>
      </form>
    </div>
  </div>
  <div class="my-3 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
      @for (employee of employees(); track $index) {
        <app-employee [employee]="employee"></app-employee>
      }
  </div>
</div>
