<div class="border border-gray-300 rounded-lg shadow-md p-5 hover:cursor-pointer hover:border-blue-300 h-full"
  routerLink="{{project()?.id}}">
  <div class="grid grid-cols-3 mb-3">
    <div class="col-span-2">
      <h2 class="text-xl font-semibold">{{project()?.name}}</h2>
      <p class="text-gray-500 text-sm">{{project()?.description}}</p>
    </div>
    <div>
      @switch (project()?.status?.name) {
        @case ('Pending') {
          <div
            class="flex rounded-full p-2 bg-yellow-100 text-center text-sm text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">
            <svg class="w-6 h-6 text-yellow-800 dark:text-yellow-300" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Pending
          </div>
        }
        @case ('On Process') {
          <div
            class="flex rounded-full p-2 bg-blue-100 text-center text-sm text-blue-800 dark:bg-blue-900 dark:text-blue-300">
            <svg class="w-6 h-6 text-blue-800 dark:text-blue-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            On Process
          </div>
        }
        @case ('On Review') {
          <div
            class="flex rounded-full p-2 bg-green-100 text-center text-sm text-green-800 dark:bg-green-900 dark:text-green-300">
            <svg class="w-6 h-6 text-green-800 dark:text-green-300" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            On Review
          </div>
        }
        @case ('Aproved') {
          <div
            class="flex rounded-full p-2 bg-green-100 text-center text-sm text-green-800 dark:bg-green-900 dark:text-green-300">
            <svg class="w-6 h-6 text-green-800 dark:text-green-300" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Aproved
          </div>
        }
        @case ('Blocked') {
          <div class="flex rounded-full p-2 bg-red-100 text-center text-sm text-red-800 dark:bg-red-900 dark:text-red-300">
            <svg class="w-6 h-6 text-red-800 dark:text-red-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Blocked
          </div>
        }
        @case ('Completed') {
          <div
            class="flex rounded-full p-2 bg-green-100 text-center text-sm text-green-800 dark:bg-green-900 dark:text-green-300">
            <svg class="w-6 h-6 text-green-800 dark:text-green-300" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Completed
          </div>
        }
        @case ('Cancelled') {
          <div class="flex rounded-full p-2 bg-red-100 text-center text-sm text-red-800 dark:bg-red-900 dark:text-red-300">
            <svg class="w-6 h-6 text-red-800 dark:text-red-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Cancelled
          </div>
        }
        @case ('Waiting Response') {
          <div
            class="flex rounded-full p-2 bg-yellow-100 text-center text-sm text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300">
            <svg class="w-6 h-6 text-yellow-800 dark:text-yellow-300" xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Waiting Response
          </div>
        }
        @case ('On Testing') {
          <div
            class="flex rounded-full p-2 bg-blue-100 text-center text-sm text-blue-800 dark:bg-blue-900 dark:text-blue-300">
            <svg class="w-6 h-6 text-blue-800 dark:text-blue-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            On Testing
          </div>
        }
        @case ('Archived') {
          <div
            class="flex rounded-full p-2 bg-gray-100 text-center text-sm text-gray-800 dark:bg-gray-900 dark:text-gray-300">
            <svg class="w-6 h-6 text-gray-800 dark:text-gray-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            Archived
          </div>
        }
      }
    </div>
  </div>
  <div class="flex justify-between mb-1">
    <div>
      Progress
    </div>
    <div>
      {{project()?.progress}}%
    </div>
  </div>
  <div class="mb-3">
    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
      <div class="bg-blue-600 h-2.5 rounded-full" [style.width.%]="project()?.progress"></div>
    </div>
  </div>
  <!--<div class="mb-3">
    <h3 class="mb-2">Team</h3>
    <div class="flex items-center space-x-2">
      <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 1">
      <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 2">
      <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 3">
      <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 4">
      <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 5">
    </div>
  </div>-->
  <div>
    <div class="flex justify-between">
      <div>
        Started on
      </div>
      <div>
        {{project()?.created_at | date:'dd/MM/yyyy'}}
      </div>
    </div>
  </div>
</div>
