<div>
  <div class="grid grid-cols-4">
    <div class="col-span-3">
      <h1 class="text-4xl font-semibold">Projects</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis provident corporis totam fugit.</p>
    </div>
    <div>
      <div class="flex justify-end items-center h-16 pr-4">
        <button type="button"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-700 border border-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:border-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          data-modal-toggle="defaultModal">
          New Project
        </button>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-3 mt-4 space-x-4">
    <div>
      <form class="max-w-md mx-auto">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an
          option</label>
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="search" id="default-search"
            class="block w-full p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search Mockups, Logos..." required />
        </div>
      </form>
    </div>
    <div>
      <form class="max-w-sm mx-auto">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an
          option</label>
        <select id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Choose a country</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </form>

    </div>
    <div>

      <form class="max-w-sm mx-auto">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an
          option</label>
        <select id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Choose a country</option>
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="FR">France</option>
          <option value="DE">Germany</option>
        </select>
      </form>
    </div>
  </div>
  <div class="grid grid-cols-5 mt-4">
    <div class="col-span-4">
      showing 12 projects
    </div>
    <div class="grid grid-cols-2 gap-4 items-center justify-items-end">
      <!--view options buttoms grid or list-->
      <div>
        <button>
          Grid
        </button>
      </div>
      <div>
        <button>
          List
        </button>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-3 md:grid-cols-2 mt-4">
    <div class="border border-gray-300 rounded-lg shadow-md p-5">
      <div class="grid grid-cols-2 mb-3">
        <div>
          <h2 class="text-xl font-semibold">Project Name</h2>
          <p class="text-gray-500">Project category</p>
        </div>
        <div>
          <div
            class="rounded-full p-2 bg-green-100 text-center text-xs text-green-800 dark:bg-green-900 dark:text-green-300">
            Project Status
          </div>
        </div>
      </div>
      <div class="flex justify-between mb-2">
        <div>
          Progress
        </div>
        <div>
          100%
        </div>
      </div>
      <div class="mb-3">
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
        </div>
      </div>
      <div class="mb-3">
        <h3 class="mb-2">Team</h3>
        <div class="flex items-center space-x-2">
          <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 1">
          <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 2">
          <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 3">
          <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 4">
          <img class="w-8 h-8 rounded-full" src="https://placehold.co/400" alt="Team Member 5">
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div>
            Started on
          </div>
          <div>
            March 1, 2025
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
