<div class="py-3">
@if (chat && user) {
  @switch (chat.type) {
    @case ('individual') {
      <div class=" p-3 rounded-md hover:cursor-pointer bg-gray-50 dark:bg-gray-800" (click)="selectChat(chat)">
        @for (employee of chat.employees; track employee.id) {
          @if (employee.id != user.employee.id) {
            <div class="flex justify-start">
              <div class="me-2">
                <img class="w-10 h-10 rounded-full" [src]="apiUrl+employee.profile_photo" alt="Rounded avatar">
              </div>
              <div class="flex">
                <div>
                  <p class="text-m font-semibold">{{employee.user.name + " " + employee.user.last_name}}</p>
                  <div class="flex justify-between">
                    <p class="text-sm text-gray-600">Last message</p>
                    <span
                      class="hidden lg:inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800
                      bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3
                    </span>
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </div>
    }
    @case ('group') {
      <div class=" p-3 rounded-md hover:cursor-pointer bg-gray-50 dark:bg-gray-800">
        <div class="flex justify-between mb-3">
          <div class="flex">
            <div class="me-2">
              <img class="w-10 h-10 rounded-full" src="" alt="Rounded avatar">
            </div>
            <div>
              <p class="text-m font-semibold"></p>
              <p class="text-sm text-gray-600"></p>
            </div>
          </div>
          <div class="flex items-center">
            <svg class="w-5 h-5 text-gray-800 dark:text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="4" d="M6 12h.01m6 0h.01m5.99 0h.01" />
            </svg>
          </div>
        </div>
        <div class="grid">
          <div class="flex">
            <div>
              Role
            </div>
            <div class="flex justify-end w-1/1 items-center">
              <div class="rounded-full border border-gray-300 px-2 text-sm font-semibold">

              </div>
            </div>
          </div>
          <div class="flex">
            <div>
              Deparment
            </div>
            <div class="flex justify-end w-1/1">
              <div class="text-gray-600">

              </div>
            </div>
          </div>
          <div class="flex">
            <div>
              Joined
            </div>
            <div class="flex justify-end w-1/1">
              <div class="text-gray-600">
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  }
}
</div>

