<div class="h-full max-h-50">
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-3xl font-semibold">Messages</h2>
    </div>
    <!--<div class="flex items-center justify-end bg-gray-100 rounded-md px-2 py-1 space-x-2 py-2">
      <button class="p-2 rounded rounded-md hover:bg-white">Direct</button>
      <button class="p-2 rounded rounded-md hover:bg-white">Group</button>
    </div>-->
  </div>
  <div class="grid grid-cols-6 mt-6 gap-4">
    <div class="col-span-2">
      <div class="bg-white shadow-md rounded-md p-4 min-h-[85dvh] overflow-y-auto dark:bg-gray-800">
        <app-contacts [(selectedEmployee)]="setEmployee"></app-contacts>
        @for (chat of chats; track chat.id) {
          <app-chat [chat$]="chat" [user$]="user" [(chatSelected$)]="setSelectedChat"></app-chat>
        }
      </div>
    </div>
    <div class="col-span-4">
      <app-chat-show [chat$]="getSelectedChat" [user$]="user"></app-chat-show>
    </div>
  </div>
</div>
