<div class="h-full max-h-50">
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-3xl font-semibold">Messages</h2>
    </div>
    <div class="flex items-center justify-end bg-gray-100 rounded-md px-2 py-1 space-x-2 py-2">
      <button class="p-2 rounded rounded-md hover:bg-white">Direct</button>
      <button class="p-2 rounded rounded-md hover:bg-white">Group</button>
    </div>
  </div>
  <div class="grid grid-cols-6 mt-6">
    <div class="col-span-2">
      <app-contacts></app-contacts>
    </div>
    <div class="col-span-4">
      <app-chat></app-chat>
    </div>
  </div>
</div>
