<div>
  <div class="grid grid-cols-4">
    <div class="col-span-2">
      <h2 class="font-semibold text-2xl">Project Tasks</h2>
    </div>
    <div class="col-span-2 flex justify-end">
      <app-task-create></app-task-create>
    </div>
    <div class="col-span-4 my-3">
      <form action="" class="grid grid-cols-4 space-x-2">
        <div class="col-span-3 flex items-center justify-between">
          <input type="text" id="search" class="border border-gray-300 rounded-md p-2 w-full"
            placeholder="Search tasks...">
        </div>
        <div class="flex items-center justify-between">
          <select id="filter" class="border border-gray-300 rounded-md p-2 w-full">
            <option value="">All</option>
            <option value="completed">Completed</option>
            <option value="pending">Pending</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="my-3 grid grid-cols-1 lg:grid-cols-4 gap-4">
    @for (task of tasks; track $index) {
      <app-task [_task]="task"></app-task>
    }
  </div>
</div>
