<div class="flex justify-center md:justify-end">
  <!-- Modal toggle -->
  <button data-modal-target="create-employee-modal" data-modal-toggle="create-employee-modal" (click)="openModal()"
    class="flex justify-center w-full md:w-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-900 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button">
    <svg class="w-5 h-5 me-3 text-white-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    New Employee
  </button>

  <!-- Main modal -->
  <div id="create-employee-modal" tabindex="-1" aria-hidden="true" showing="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Register New Employee
          </h3>
          <button type="button" (click)="closeModal()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="create-employee-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form class="p-4 md:p-5" [formGroup]="createEmployeeForm" (ngSubmit)="createEmployee()" enctype="multipart/form-data">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
              <input type="text" name="name" id="name" formControlName="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Jhon" required appForbiddenName="Jhon">
                @if (createEmployeeForm.get('name')?.invalid && (createEmployeeForm.get('name')?.dirty || createEmployeeForm.get('name')?.touched)) {
                  <div class="text-red-500 text-sm mt-1">
                    @if (createEmployeeForm.get('name')?.hasError('required')) {
                      <div>
                        Name is required.
                      </div>
                    }
                  </div>
                }
            </div>
            <div class="col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
              <input type="text" name="last_name" id="last_name" formControlName="last_name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Doe" required="">
                @if (createEmployeeForm.get('last_name')?.invalid && (createEmployeeForm.get('last_name')?.dirty || createEmployeeForm.get('last_name')?.touched)) {
                  <div class="text-red-500 text-sm mt-1">
                    @if (createEmployeeForm.get('last_name')?.hasError('required')) {
                      <div>
                        Last Name is required.
                      </div>
                    }
                  </div>
                }
            </div>
            <div class="col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
              <input type="email" name="email" id="email" formControlName="email" autocomplete="off"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="jhon@domain.com" >
                @if (createEmployeeForm.get('email')?.invalid && (createEmployeeForm.get('email')?.dirty || createEmployeeForm.get('email')?.touched)) {
                  <div class="text-red-500 text-sm mt-1">
                    @if (createEmployeeForm.get('email')?.hasError('required')) {
                      <div>
                        Email is required.
                      </div>
                    }
                    @if (createEmployeeForm.get('email')?.hasError('email')) {
                      <div>
                        Most be a valid email address.
                      </div>
                    }
                  </div>
                }
            </div>
            <div class="col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input type="password" name="password" id="password" formControlName="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="********">
                @if (createEmployeeForm.get('password')?.invalid && (createEmployeeForm.get('password')?.dirty || createEmployeeForm.get('password')?.touched)) {
                  <div class="text-red-500 text-sm mt-1">
                    @if (createEmployeeForm.get('password')?.hasError('required')) {
                      <div>
                        Password is required.
                      </div>
                    }
                    @if (createEmployeeForm.get('password')?.hasError('minLength')) {
                      <div>
                        Your password must be at least 8 characters long.
                      </div>
                    }
                    @if (createEmployeeForm.get('password')?.hasError('pattern')) {
                      <div>
                        Invalid password. Your password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character (#$%^&+=!).
                      </div>
                    }
                  </div>
                }
            </div>
            <div class="col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password
                Confirmation</label>
              <input type="password" name="password_confirmation" id="password_confirmation" formControlName="password_confirmation"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="********">
                @if (createEmployeeForm.get('password_confirmation')?.invalid && (createEmployeeForm.get('password_confirmation')?.dirty || createEmployeeForm.get('password_confirmation')?.touched)) {
                  <div class="text-red-500 text-sm mt-1">
                    @if (createEmployeeForm.get('password_confirmation')?.hasError('required')) {
                      <div>
                        Password is required.
                      </div>
                    }
                    @if (createEmployeeForm.get('password_confirmation')?.hasError('minLength')) {
                      <div>
                        Your password must be at least 8 characters long.
                      </div>
                    }
                    @if (createEmployeeForm.get('password_confirmation')?.hasError('pattern')) {
                      <div>
                        Invalid password. Your password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character (#$%^&+=!).
                      </div>
                    }
                    @if (createEmployeeForm.hasError('passwordsMismatch')) {
                      <div>
                        Passwords do not match.
                      </div>
                    }
                  </div>
                }
            </div>
            <div class="col-span-2">
              <label for="category"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Department</label>
              <select id="deparment_id" name="deparment_id" formControlName="department_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option selected="">Select department</option>
                @if (departments) {
                  @for(department of departments; track department.id){
                    <option [value]="department.id">{{ department.name }}</option>
                  }
                }
              </select>
              @if (createEmployeeForm.get('deparment_id')?.invalid && (createEmployeeForm.get('deparment_id')?.dirty || createEmployeeForm.get('deparment_id')?.touched)) {
                <div class="text-red-500 text-sm mt-1">
                  @if (createEmployeeForm.get('deparment_id')?.hasError('required')) {
                    <div>
                      Department is required.
                    </div>
                  }
                </div>
              }
            </div>
            <div class="col-span-2">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Job Title</label>
              <input type="text" name="job" id="job" formControlName="job"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Project Manager" required="">
                @if (createEmployeeForm.get('job')?.invalid && (createEmployeeForm.get('job')?.dirty || createEmployeeForm.get('job')?.touched)) {
                  <div class="text-red-500 text-sm mt-1">
                    @if (createEmployeeForm.get('job')?.hasError('required')) {
                      <div>
                        Job Title is required.
                      </div>
                    }
                  </div>
                }
            </div>
            <div class="col-span-2">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="small_size">Profile Photo</label>
              <input
                class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                id="profile_photo" name="profile_photo" type="file" (change)="profilePhotoUpload($event)">
            </div>
          </div>
          <div>
            <button type="submit"
              class="text-white mb-1 w-1/1 inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Register
            </button>
            <button type="button" (click)="closeModal()"
              class="text-gray w-1/1 inline-flex items-center justify-center bg-gray-100 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Cancel
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
